#categoryCard {
    width: "100%";
    margin: "10px";
    height: "250px";
    border: "0px";
    box-shadow: "0px 2px 1px 0px grey";
}


Button {
    border-radius: "0px" !important;
    padding: "10px" !important;
    background-color: "#bb2b56" !important;
    border: "none" !important
}

p{
    word-spacing: 2px;
}