#dropdown-basic-button{
    width: 100% !important;
    background-color: #bb2b56 !important;
    border: none;
    border-radius: 0px;
    padding: 10px;
    font-size: 20px;
}

.dropdown-menu.show {
    width: 100% !important;
    text-align: center !important;
}