.registerBox{
    .form-control{
        border-bottom: 2px solid cyan;
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 0px;
    
    }
    .submitBtn{
        border-radius: 0px;
        padding: 10px;
        background-color: #bb2b56;
        border: none;
        width: 100%;
        color: #fff;
    }
}